html, body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #eee;
}
canvas {
  display: block;
  max-width: 600px ;
  max-height: 600px ;
  margin: 20px auto;
}

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 55px;
	margin: 10px;
	text-align: center;
}

#controls {
	max-width: 650px;
	margin: -10px auto 5px;
}

#controls span {
	margin-left: 10px;
}

#scaCenCont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: -15px;
}

#scale {
	margin-bottom: 5px;
}

#center {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#saveImage {
	margin-left: 10px;
}
